@import '../variables';

.AboutMe {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    justify-content: center;
    padding-bottom: 20px;

    .titleAboutMe {
        color: black;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px grey solid;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 5px;

        .iconAboutMe {
            width: 28px;
        }
    }

    .textAboutMe {
        color: black;
        font-size: 14px;

        span {
            color: $Azul-Principal;
            font-weight: 600;
        }
    }
}

//VERSION MOVIL
@media screen and (max-width: 768px) {
    .AboutMe {
        width: 100%;

        .titleAboutMe {
            padding: 0 0 10px 0;

            .iconAboutMe {
                margin-left: 10px;
            }
        }
    
        .textAboutMe {
            padding: 0 0 0 14px;
        }
    }
}

@media screen and (min-width: 769px)  and (max-width: 1024px) {
    .AboutMe {
        width: 85%;

        .titleAboutMe {
            padding: 0 0 10px 0;

            .iconAboutMe {
                margin-left: 10px;
            }
        }
    
        .textAboutMe {
            padding: 0 0 0 14px;
        }
    }
}

@media screen and (min-width: 1025px)  and (max-width: 1280px) {
    .AboutMe {
        width: 85%;

        .titleAboutMe {
            padding: 0 0 10px 0;

            .iconAboutMe {
                margin-left: 10px;
            }
        }
    
        .textAboutMe {
            padding: 0 0 0 14px;
        }
    }
}

@media screen and (min-width: 1281px)  and (max-width: 1536px) {
    .AboutMe {
        width: 60%;

        .titleAboutMe {
            padding: 0 0 10px 0;

        }
    
    }
}