@import '../variables';

.Projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    justify-content: center;

    .titleProjects {
        color: black;
        font-size: 30px;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px grey solid;
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 5px;

        .iconProjects {
            width: 28px;
        }
    }

    .ProjectCard {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 150px;
        font-size: 15px;
        gap: 20px;

        .PhotoPortada {
            position: relative;
            min-width: 400px;
            height: auto;
            overflow: hidden;
            border: 1px black solid;
            border-radius: 20px;
            cursor: pointer;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            img:hover {
                transform: scale(1.1);
                transition: all;
                transition-duration: 0.3s;
                filter: brightness(0.75);
            }
        }

        .PhotoPortada:hover {
            transform: scale(1.03);
            transition: all;
            transition-duration: 0.3s;
        }

        .InfoProject {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            min-height: 200px;
            justify-content: space-between;

            .titleDescription {
                display: flex;
                flex-direction: column;

                .titleNameProject {
                    font-size: 27px;
                    font-weight: 600;
                }

                p{
                    padding-bottom: 5px;
                }

                .usedTechnology {
                    display: flex;
                    min-height: fit-content;
                    flex-direction: row;
                    gap: 10px;

                    .BGJavaScript {
                        background-color: #FF9130;
                        color: black;
                    }

                    .BGReact {
                        
                        background-color: #4D869C;
                        color: white;
                    }

                    .BGSass {
                        background-color: #A34343;  
                    }

                    .BGTailwind {
                        background-color: #496989;
                    }

                    .userTech {
                        display: flex;
                        flex-direction: row;
                        min-height: 15px;
                        max-height: 20px;
                        padding: 0 10px;
                        border: 1px grey solid;
                        // background-color: rgb(166, 172, 177);
                        border-radius: 90px;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        color: white;
                        font-weight: 400;
                        font-size: 13px;
                        cursor: default;

                        .iconTechReact {
                            width: 20px;
                            height: 20px;
                        }

                        .iconTechJS{
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }


            .GitHubVisit {
                display: flex;
                flex-direction: row;
                gap: 15px;

                a {
                    padding: 5px 15px;
                    width: fit-content;
                    flex-direction: row;
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    background-color: $Color-Buttons;
                    border: 1px grey solid;
                    border-radius: 10px;
                    text-decoration: none;
                    color: black;

                    .iconVisit {
                        width: 22px;
                    }
                }

                a:hover {
                    border: 1px $Azul-Principal solid;
                    background-color: $Azul-Principal;
                    color: white;
                    transition: all;
                    transition-duration: 0.3s;
                }
            }
        }
    }
}

//VERSION MOVIL
@media screen and (max-width: 640px) {
    .Projects {
        width: auto;

        .titleProjects {
            padding: 10px 0;

            .iconProjects {
                margin-left: 10px;
            }
        }

        .ProjectCard {  
            padding: 20px 0 14px 0;
            display: flex;
            flex-direction: column;
            width: 100vw;
            min-height: fit-content;
            font-size: 15px;
            gap: 20px;
            border-bottom: 1px rgb(201, 193, 193) solid;

            .PhotoPortada {
                position: relative;
                min-width: 360px;
                min-height: auto;
                margin-left: 5px;
                margin-right: 5px;
            }

            .PhotoPortada:hover {
                transform: scale(1.01);
            }

            .InfoProject {

                .titleDescription {
                    width: 100%;

                    .titleNameProject {
                        font-size: 27px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                    }

                    p{
                        margin-left: 10px;
                    }

                    .usedTechnology {
                        display: flex;
                        min-height: fit-content;
                        flex-direction: row;
                        gap: 10px;
                        margin-top: 5px;
                        justify-content: center;
                    }
                }
                
                .GitHubVisit {
                    margin-top: 20px;
                    justify-content: space-around;
    
                    a {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Projects {
        width: auto;

        .titleProjects {
            padding: 10px 0;

            .iconProjects {
                margin-left: 10px;
            }
        }

        .ProjectCard {  
            padding: 20px 0 14px 0;
            display: flex;
            flex-direction: column;
            width: 100vw;
            min-height: fit-content;
            font-size: 15px;
            gap: 20px;
            border-bottom: 1px rgb(201, 193, 193) solid;
            align-items: center;

            .PhotoPortada {
                position: relative;
                max-width: 400px;
                min-height: 190px;
                overflow: hidden;
                border: 1px black solid;
                border-radius: 20px;
                cursor: pointer;
                margin-left: 5px;
                margin-right: 5px;
            }

            .PhotoPortada:hover {
                transform: scale(1.01);
                transition: all;
                transition-duration: 0.3s;
            }

            .InfoProject {

                .titleDescription {
                    width: 100%;

                    .titleNameProject {
                        font-size: 27px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                    }

                    p{
                        margin-left: 10px;
                    }

                    .usedTechnology {
                        display: flex;
                        min-height: fit-content;
                        flex-direction: row;
                        gap: 10px;
                        margin-top: 5px;
                        justify-content: center;
                    }
                }
                
                .GitHubVisit {
                    margin-top: 20px;
                    justify-content: space-around;
    
                    a {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px)  and (max-width: 1024px) {
    .Projects {
        width: 85%;

        .titleProjects {
            padding: 10px 0;

            .iconProjects {
                margin-left: 10px;
            }
        }

        .ProjectCard {  
            padding: 20px 0 14px 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: fit-content;
            font-size: 15px;
            gap: 20px;
            border-bottom: 1px rgb(201, 193, 193) solid;
            align-items: center;

            .PhotoPortada {
                position: relative;
                max-width: 400px;
                min-height: 220px;
                overflow: hidden;
                border: 1px black solid;
                border-radius: 20px;
                cursor: pointer;
                margin-left: 5px;
                margin-right: 5px;
            }

            .PhotoPortada:hover {
                transform: scale(1.01);
                transition: all;
                transition-duration: 0.3s;
            }

            .InfoProject {

                .titleDescription {
                    width: 100%;

                    .titleNameProject {
                        font-size: 27px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                    }

                    p{
                        margin-left: 10px;
                        font-size: 15px;
                        
                    }

                    .usedTechnology {
                        display: flex;
                        min-height: fit-content;
                        flex-direction: row;
                        gap: 10px;
                        margin-top: 5px;
                        justify-content: center;
                    }
                }
                
                .GitHubVisit {
                    margin-top: 30px;
                    gap: 60px;
                    justify-content: center;
    
                    a {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1025px)  and (max-width: 1280px) {
    .Projects {
        width: 85%;

        .titleProjects {
            padding: 10px 0;

        }

        .ProjectCard {  
            padding: 20px 0 14px 0;
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: fit-content;
            border-bottom: 1px rgb(201, 193, 193) solid;
            align-items: center;

            .PhotoPortada {
                position: relative;
                max-width: 400px;
                min-height: 220px;
            }

            .InfoProject {
                
                .GitHubVisit {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1281px)  and (max-width: 1536px) {
    .Projects {
        width: 60%;

        .titleProjects {
            padding: 10px 0;

        }

        .ProjectCard {  
            padding: 20px 0 14px 0;
            display: flex;
            flex-direction: row;
            width: 100%;
            min-height: fit-content;
            border-bottom: 1px rgb(201, 193, 193) solid;
            align-items: center;

            .PhotoPortada {
                position: relative;
                max-width: 400px;
                min-height: 220px;
            }

            .InfoProject {
                
                .GitHubVisit {
                    margin-top: 20px;
                }
            }
        }
    }
}