@import './variables';
@import './style/NavBar';
@import './style/Home';
@import './style/AboutMe';
@import './style/Skills';
@import './style/Projects';



*{
    padding: 0;
    margin: 0;
}

.main{
    background-color: white;
    font-family: var(--font-Poppins);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}